{% extends 'base.html' %}
{% block title %}Donegal Courts | Change Password{% endblock %}
{% block content %}
<br/><br/>
    <h1>Forgotten your password?</h1>
<br/>
<!-- Forgot Password Form -->
    <div class="form-group">
        <form id="password" method="POST">
            <ul>
                <li>Your password can’t be too similar to your other personal information.</li>
                <li>Your password must contain at least 8 characters.</li>
                <li>Your password can’t be a commonly used password.</li>
                <li>Your password can’t be entirely numeric.</li>
            </ul>
        <br/>
            {%csrf_token%}
            {{ form.as_p }}
        </form>
<!-- End Forgot Password Form -->
    <button class="btn btn-dark">Save new Password</button>
    </div>  
<!-- Ajax Script--> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'form' and provide a simple callback function 
            $('#password').ajaxForm(function() { 
                alert("Your password has been changed"); 
            }); 
        }); 
    </script> 
{% endblock %}