{% extends 'base.html' %}
{% block title %}Donegal Courts | Edit your Profile{% endblock %}
{% block content %}
<div class="container">
    <br/><br/>
<!-- Edit Profile Form -->
        <h1 class="edit">Edit your Profile</h1>
    <br/><br/>
    <div class="row">
        <div class="form-group">
            <form id="profile" method="POST">
                {%csrf_token%}
                {{ form.as_p }}
            <button class="btn btn-dark">Update Profile</button>
            <br/><br/>
        </div>    
    </div>
<!-- End Edit Profile Form -->
</div>
<!-- Ajax Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="https://malsup.github.io/jquery.form.js"></script>
<script> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'form' and provide a simple callback function 
        $('#profile').ajaxForm(function() { 
            alert("Your profile has been updated!"); 
        }); 
    }); 
</script> 
{% endblock %}
