{% extends 'base.html' %}
{% block title %}Deegagh Point Shellfish | Login{% endblock %}
{% block content %}
<br/><br/>
<div class="container">
  <div class="row">
    <h1 class="login-head">Login</h1>
    <br/><br/>
    <br/><br/>
    <br/>
      <div class="form-group">
<!-- Start of Login Form -->
        <form method="POST">
          {%csrf_token%}
            <div class="row mb-3">
              <div class="col-sm-10">
                <label for="username" class="col-sm-2 col-form-label sr-only">Username</label>
                <input type="text" id="username" class="form-control" name="username" placeholder="Username" aria-labelledby="username">
                <p> 150 characters or fewer. Letters, digits and @/./+/-/_ only. </p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-10">
              <label for="password" class="col-sm-2 col-form-label sr-only">Password</label>
              <input type="password" id="password" class="form-control" name="password" placeholder="Password" aria-labelledby="password">
              </div>
            </div>
<!-- End of Login Form -->
              <button class="btn btn-dark">Login</button>
            <br/><br/>
              <p> Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/><br/>
      </div>    
  </div>
</div>
{% endblock %}