{% extends 'base.html' %}
{% block title %}Deegagh Point Shellfish | Sign Up!{% endblock %}
{% block content %}
<br/><br/>
<div class="container">
    <div class="row">
    <br/><br/>
        <h1>Sign Up!</h1>
<!-- Registration Form-->
                <div id="register"class="form-group">
                    <form id="register-form" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <br/><br/>
                </div> 
            <br/>
        <div class="col-sm">
            <button class="btn btn-dark"> Register </button>
            <a class="btn btn-dark " href="{% url 'login' %}">Sign in</a>
        </div>
<!-- End of Registration Form-->
    <br/><br/><br/>
    </div> 
</div>
<!-- Ajax Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="https://malsup.github.io/jquery.form.js"></script>
<script> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'form' and provide a simple callback function 
        $('#register').ajaxForm(function() { 
            alert("Your profile has been created!"); 
        }); 
    }); 
</script> 
{% endblock %}