{% extends 'base.html' %}
{% block title %}Donegal Courts | The User's Profile!{% endblock %}
{% load static %}
{% block content %}
<!-- Bootstrap Card Horizontal -->
<br/>
  <div class="container">
    <div class="row">
    <div class="carousel-inner">
        <div class="carousel-caption d-none d-md-block text-black">
                <h2><strong>{{page_user.user.first_name }} {{ page_user.user.last_name }}'s Profile</h2>
        </div>
        <div class="carousel-item-active landscape active ">
            <img src="{{ page_user.profile_pic.url }}" class="d-block w-100" alt="Profile Picture">
        </div>
    </div>
        <div class="card mb-3">
            <br/><br/>
            <div class="row g-0">
                <div class="col-md-2">
                    <div class="profile-pic">
                        <img class="rounded-circle" src="{{ page_user.profile_pic.url }}" alt="2nd Profile Picture">
                    </div>
                </div>   
            <div class="col-md-10">
                <div class="card-body" id="user-body">
                    <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
                    <p class="small text-muted" id="user-links"> 
                        {% if page_user.website_url %}
                            | <a href="https://www.donegaldaily.com/" target="_blank"> Website </a>
                        {% endif %} 
                        {% if page_user.website_url %}
                            | <a href="https://www.donegaldaily.com/" target="_blank">Facebook </a>  
                        {% endif %} 
                        {% if page_user.website_url %}
                            | <a href="https://www.donegaldaily.com/" target="_blank">Twitter </a>  
                        {% endif %} 
                        {% if page_user.website_url %}
                            | <a href="https://www.donegaldaily.com/" target="_blank">Instagram </a> 
                        {% endif %}
                        {% if page_user.website_url %}
                            | <a href="https://www.donegaldaily.com/" target="_blank">Pinterest </a>
                        {% endif %}
                    </p>
                <p class="card-text"><small>{{ page_user.bio }}</small></p>
                <a class="btn btn-dark " href="{% url 'home' %}">Return to home</a>
                <br/>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
<!-- End Bootstrap Card Horizontal -->
{% endblock %}