{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Faq's and T's & C's {% endblock %}
{% block content %}
<br>
<!-- FAQ's -->
<div class="container">
    <div class="row">
        <div class="container text-center">
            <div class="row">
              <div class="col">
                <img src="{% static 'img/family2.jpg' %}" class="d-block w-100" alt="FAQ's Family Photo">
              </div>
              <div class="col">
                <img src="{% static 'img/family3.jpg' %}" class="d-block w-100" alt="FAQ's Family Photo">
              </div>
            </div>
            <br>
        </div>
        <br>
        <h1> FAQs </h1>
        <hr>
    <br>
<ul>
<p><strong>Although we hope you love your Lucy and Yaks, there may be times when you need to return items to us. You have 30 days from the date you receive your order, to return anything to us for an exchange or refund (*exclusions apply).
To do so, simply follow the instructions below:</strong></p>
<li>Complete the slip that came with your order and enclose it in the parcel with the item(s) you wish to return. If you no longer have the slip, just add a note of your name and order number inside the parcel. Use the original packaging if possible.</li>
<li>Take your parcel to your nearest post office. Make sure you keep your proof of postage receipt for tracking your parcel online.</li>
<li>Time to relax! We’ll drop you an email when your return has been processed. This can take up to 14 working days.</li>
<br>

 
<li><strong>Faults: 365 Day Returns</strong></li>
 - After our standard 30 day returns period, until the first anniversary of your order, you can return anything that develops a fault and therefore does not meet your expectations. Please contact our customer happiness team here and they'll be happy to help. We will give you the option of exchanging your item or receiving store credit for the amount you paid. Should anything spring a fault in the first 6 months, we will process a refund if you'd prefer. 
<br>
<br>
<li><strong>Can I exchange an item for a different item?</strong></li>
We can only exchange like-for-like, for the same product in a different size or colour. 
<br>
<br>
<li><strong>What if my exchange request is out of stock?</strong></li>
If the item is out of stock, we will automatically refund you the full the amount.
<br>
<br>
<li><strong>Can I return a sale item?</strong></li>
Yes, sale items can be returned for a refund or exchange.
<br>
<br>
<li><strong>Will my shipping be refunded?</strong></li>
 - If you paid for standard shipping and return the full order, we will refund the shipping cost for you.
 - If you upgraded to next day or Saturday delivery and return your full order, we will refund the standard shipping cost of €3.50 only.
</ul>
    </div>
<!-- T's & C's -->
    <div>
    <br>
        <h1> T's & C's </h1>
        <hr>
        <br>
        <p> These Terms and Conditions apply to your purchase on our Website, with Deegagh Sea Salt a company organized and existing under the laws of Ireland.</p>
        
        <ul>
            <p><strong> ACCEPTANCE OF THE TERMS AND CONDITIONS AND OTHER TERMS </strong></p>
            <li>These Terms and Conditions apply to your purchase on the Website. We also have a Privacy Policy, a Cookies Policy, Website Terms of Use and may have other terms, legal notices and conditions applicable to your purchase on the Website, incorporated herein by reference, and shall, together with the Consumers’ Terms and Conditions be a contractual agreement (“the Terms and Conditions”) between Levi Strauss & Co. Europe ("us", "we", "our" and any similar expression thereto) and you.
            </li>
            <br>
            <li>
                You must accept the Terms and Conditions, in full, before purchasing on this Website. You can accept them in two ways:
                
                (1) If you are a registered customer, by actually using the Website.
                
            </li>
            <br>
                <p><strong> BY VISITING OR BY ANY OTHER USE OF THE WEBSITE, YOU AGREE TO HAVE READ, UNDERSTOOD AND ACCEPTED THE TERMS IN FULL.  </strong>
                
             <li>Except as otherwise provided, the Terms and Conditions are subject to change at any time and your continued visit on the Website after any change(s) have been implemented constitutes acceptance by you of such change(s).</li>  
                
                
                <li>If you experience any difficulty in understanding these Terms and Conditions, or if you do not agree with the contents thereof, we request that you contact our Customer Services.</li>  
            </li>
        </ul>

    </div>
</div>


<h1> </h1>
{% endblock %}