{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
  <br/>
<!-- Header Image -->
<div>
<div class="card text-black" style="border:none;">
  <img src="{% static '/img/white.jpeg' %}" class="card-img " alt="..." style="width:100%; height:800px;">
  <div class="card-img-overlay">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  <div class="text">
    <h1 class="fs-1 text-dark">
      Welcome to Our Salt Shop!
    </h1>
    <p class="fs-3 fw-light text-dark">
      Here at Deegagh Sea Salt we aim to bring you <br> the very best of what Irish Sea Salt have to offer,
      <br> straight to your doorstep!
    </p>
    <a class="btn btn-outline-primary" href="{% url 'store' %}" role="button">Shop</a>
    <a class="btn btn-outline-primary" href="{% url 'contact' %}" role="button">Contact Us</a>
  </div>
</div>
</div>
</div>
<br/><br/>
<div class="bg">
<div class="container">
  <div class="row">
<!-- End of Header Image -->
<!-- Products Section -->
  <div class="products">
    <h1 class="text-center fw-light text-dark"> Our Products</h1>
    <p class="text-center fw-light text-dark"> At Deegagh Sea Salt we have several viarations of Sea Salt on offer, so you will surely find something for everyone!</p>
    <br/>
<!-- Product Card -->
<div class="card-group">
  <div class="card border-0">
    <img class="card-img-top" src="{% static '/img/him-salt.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Himalayan Salt Products</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <button type="button" class="btn btn-outline-secondary text-dark">View Products</button>
    </div>
  </div>
  <div class="card border-0">
    <img class="card-img-top" src="{% static '/img/plain-salt.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Plain Salt Products</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <button type="button" class="btn btn-outline-secondary text-dark">View Products</button>
    </div>
  </div>
  <div class="card border-0">
    <img class="card-img-top" src="{% static '/img/flav-salt.jpeg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Flavoured Salt Products</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <button type="button" class="btn btn-outline-secondary text-dark">View Products</button>
    </div>
  </div>
</div>
<hr>
<br/>
</div>
<!-- Testimonials -->
    <section class="testimonial-area">
      <div class="container">
        <div class="sec-title">
        <h1 class="text-center fw-light text-dark"> Our Testimonials </h1>
        <p class="text-center"> Find out what our clients say about us!</p> 
        </div>
        <div class="testimonial-content">
          <div class="single-testimonial">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img class="testimonial-img" src="{% static '/img/man1.jpg' %}">
                </a>
              </div>
              <div class="client-details">
                <h6> Ronald Row </h6>
                <span> Dublin, Co.Dublin</span> 
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 2 -->
        <div class="testimonial-content">
          <div class="single-testimonial">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img class="testimonial-img" src="{% static '/img/man1.jpg' %}">
                </a>
              </div>
              <div class="client-details">
                <h6> Ronald Row </h6>
                <span> Dublin, Co.Dublin</span> 
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonial 3 -->
        <div class="testimonial-content">
          <div class="single-testimonial">
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
            <div class="client-info">
              <div class="client-pic">
                <a href="#">
                  <img class="testimonial-img" src="{% static '/img/man1.jpg' %}">
                </a>
              </div>
              <div class="client-details">
                <h6> Ronald Row </h6>
                <span> Dublin, Co.Dublin</span> 
              </div>
            </div>
          </div>
        </div>
    </section>
<br>
<hr>
<!-- End of Testimonials -->
<!-- About Us -->
<br/><br/><br/>
<h1 class="text-center fw-light"> Who We Are</h1>
    <p class="text-center fw-light"> At Deegagh Sea Salt we have several viarations of Sea Salt on offer, so you will surely find something for everyone!</p>
    <img src="{% static '/img/white.jpeg' %}" class="d-block w-100 man" id="man" alt="Man Testimonial">
    <p class="text-center fw-light"> At Deegagh Sea Salt we have several viarations of Sea Salt on offer, so you will surely find something for everyone!</p>
<!-- End of About -->
<br>
<br>
</div>
</div>
<br><br>
<br>
<br>
</div>
</body>
{% endblock %}