{% extends 'base.html' %}
{% block title %} Deegagh Sea Salt | Add Review {% endblock %}
{% block content %}
<br/><br/> 
<div class="container">
    <div class="row">
<!-- Review form -->
        <div class="comments">
            {% if user.is_authenticated %}
                 <br/><br/>
                     <h1>Review this product</h1>
                <br/><br/>
                <div class="form-group">
                    <form id="comment" method="POST">
            
                        {%csrf_token%}
                        {{ form.as_p }}
            
                    <button class="btn btn-dark">Add Review</button>
                    <a class="btn btn-dark " href="{% url 'home' %}" aria-label="home">Return to Products Page</a>
                </div>
<!-- End Comment form -->
            {% else %}
<!-- Sign-in for users who aren't authenticated -->
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
                <p> You're need an account to leave a review, would you like to register? If you already have an account please sign in...</p>
                <div class="button-center">
                    <a class="btn btn-dark " href="{% url 'register' %}" aria-label="register">Register</a>
                    <a class="btn btn-dark " href="{% url 'login' %}" aria-label="login">Login</a>
                </div>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/><br/>
            <br/>
        {% endif %}
<!--End Sign-in for users who aren't authenticated -->
        </div>
    </div>
</div>
<br/><br/> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script> 
<script src="https://malsup.github.io/jquery.form.js"></script>
<script> 
    // wait for the DOM to be loaded 
    $(document).ready(function() { 
        // bind 'form' and provide a simple callback function 
        $('#comment').ajaxForm(function() { 
            alert("Your Comment has been added"); 
        }); 
    }); 
</script> 
{% endblock %}