{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Add Product {% endblock %}

{% block content %}
<br>
<div class="container">
    <div class="row">
<!-- Start of Update post form -->
<br>
        <h1> Update This Blog Post </h1>
        <hr>
        <br>
        <div class="form-group">
            <form method="POST" action="{% url 'add_product' %}">
                {{form | crispy }}
                {% csrf_token %}
                {{ form.media }}
                <br>
                <button class="btn btn-success" href="{% url 'home' %}" aria-label="Create Product"> Create Product </button>
                <button class="btn btn-dark" href="{% url 'home' %}" aria-label="Cancel"> Cancel</button>
            </form>
        </div>
    </div>
</div>
<br>
{% endblock %}