{% extends 'base.html' %}
{% block title %} Deegagh Sea Salt | Edit Your Profile {% endblock %}
{% block content %}

<div class="container">
        <h1> Edit Your Profile </h1>
    <br/>
    <div class="row">
        <div class="form-group">
            <from id="'profile" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <button class="btn btn-dark"> Update Profile </button>
            <br/>
        </div>
    </div>
    <!-- End Edit Profile Form -->
</div>
{% endblock %}