{% extends "base.html" %}
{% load static %}
{% block title %} Deegagh Sea Salt | Checkout Success! {% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}
<!-- Based on the code institute checkout template -->
<!-- Products in cart listed here -->
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="thank-you">
      <a href="{% url 'news-list' %}" class="btn btn-ouline-black">
        <span class="icon mr-2">
            <i class="fa-solid fa-utensils fa-lg"></i>
        </span>
        <br>
        <span class="fw-light">Check out how you can use your new products in our recipies section!</span>
    </a>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}


