{% extends "base.html" %}
{% block title %} Deegagh Sea Salt | Add-Item To Gallery {% endblock %}
{% block content %}
{% load static %}
<br>
<div class="container">
<section>
    <h1 class="fw-light"> View Our Product Gallery</h1>
    <hr>
    <div class="container text-left">
        <div class="row">
          <div class="col-4">
              <div class="card" style="width: 18rem;">
                {% if user.is_superuser %}
                <div class="card-header">
                    <a href="{% url 'add-photo' %}" class="list-group-item card-header"><strong>Add A Photo</strong>
                    </a>
                </div>
                {% endif %}
                <ul class="list-group list-group-flush">
                   <a href="{% url 'products' %}" style="text-decoration:none; color:black;">View Products</a> 
                </a>
                </ul>
              </div>
          </div>
          <div class="col-8">
            {% for photo in photos %}
            <div>
               <a href="{% url 'products' %}"><img src="{{photo.image.url}}" class="img-fluid w-50" alt="products-images"></a>
          </div>
          {% endfor %}
        </div>
    </div>
</section>
        </div>
    </div>
<br>
{% endblock %}