{% extends "base.html" %}
{% block title %} Deegagh Sea Salt | Add-Item To Gallery {% endblock %}
{% block content %}
{% load static %}
<br>
<div class="container">
<section>
    <h1 class="fw-light"> View Our Product Gallery</h1>
    <hr>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    {% if user.is_superuser %}
                    <a href="{% url 'add-photo' %}" class="list-group-item">Add A Photo
                    </a>
                    {% endif %}
                  <li class="list-group-item">All Products</li>
                  <li class="list-group-item">Categories</li>
                </ul>
              </div>
          </div>
          <div class="col">
            <a href="{% url 'products' %}">
                <img src="..." class="img-fluid" alt="...">
            </a>
          </div>
        </div>
    </div>
</section>
        </div>
    </div>
<br>
{% endblock %}