{% extends "base.html" %}
{% block title %} Deegagh Sea Salt | Products Gallery {% endblock %}
{% block content %}
{% load static %}
<br>
<div class="container">
<section>
    <h1 class="fw-light"> View Our Product Gallery</h1>
    <hr>
    <div class="container text-left">
        <div class="row">
          <div class="col-2">
                <ul class="list-group list-group-flush">
                   <a class="btn btn-black" href="{% url 'products' %}" style="text-decoration:none; color:black;">View Products</a> 
                {% for category in categories %}
                   <a class="btn btn-black" href="{% url 'gallery' %}?category={{category.name}}" style="text-decoration:none; color:black;">{{category.name}}</a> 
                {% endfor %}
              </ul>
          </div>
          <div class="col-4">
            {% for photo in photos %}
            <a href="{% url 'products' %}">
              <div class="card" style="width: 18rem;">
              <img src="{{photo.image.url}}" class="card-img-top" alt="...">
            </a>
            </div>
            <div>
          </div>
          {% endfor %}
        </div>
    </div>
</section>
        </div>
    </div>
<br>
{% endblock %}