body{
    direction: ltr;
}

/* Header slider */
.header{
    padding-top: 5%;

}

/* Product Section */
.products{
    padding:2%;
}

/* Card */
.card{
    margin-left: 10px;
}

/* Buttons on home page */
.base-btn{
    padding-right:20%;
}