{% extends "base.html" %}
{% load static %}
{% block title %} Deegagh Sea Salt | Shopping Cart {% endblock %}
{% load bag_tools %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <h1> Review My Products: </h1>
        <hr>
    </div>
    <br>
    <div>
        <a class="btn" href="{% url 'review_detail'%}"> Review Detail</a>
        <a class="btn" href="{% url 'review_list'%}"> Review lIST</a>
    </div>
    <div class="container">
        <div class="row">
           
    <!-- Start of Update post form -->
            
    <!-- End of form -->
        </div>
    </div>
    <br>
</div>
</div>
</div>
{% endblock %}