{% extends "base.html" %}
{% load static %}
{% block title %} Deegagh Sea Salt | Products {% endblock %}
{% block content %}
<br/>
<div class ="container">
    <div class="row">
        <h1 class="fw-normal"> Our Products </h1>
        <br/>
        <br/>
<!-- Products within category -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for product in products%}
    <div class="col">
      <div class="card">
        <img src="{{ product.featured_image.url }}" class="card-img-top thumbnail" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ product.name }}</strong></h5>
          <hr>
          <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-dark add-btn update-cart"> Add to Cart </button>
          <a class="btn btn-outline-success" href="#">View</a>
          <h6 class="fw-light" style="display:inline-block; float:right"></h6> € {{product.price|floatformat:2}} </h6>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
<!-- End of products in category -->
    </div>
</div>
<br/><br/>
{% endblock %}