{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Delete Post {% endblock %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        {% if user.is_authenticated %}
<!-- Start of delete post form -->
        <div class="form-group">
            <form id="delete" method="POST">
                <br/><br/>
                <h1> Delete This Blog Post </h1>
                <br/><br/>
                <h3> Delete: {{ post.title }} </h3>
                {% csrf_token %}
                <p> Are you sure you want to delete this post? Once deleted it can't be undone!</p>
                <br/><br/>
                <button class="btn btn-dark" href="{% url 'home' %}" aria-label="home"> No, Keep this post. </button>
            </form>
        </div>
<!-- End of form -->
<!-- If user is not the supreruser they can't delete posts -->
        {% else %}
            <p> You are not allowed to delete this post. </p>
        {% endif %}
        {% else %}
            <p> You are not allowed to delete this post. </p>
        {% endif %}
    </div>
</div>
<br>
<br>
{% endblock %}