{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Recipes {% endblock %}
<!-- Boostrap Cards -->
{% block content %}
<br>
{% for post in post_list %}
<div class="card-group">
  <div class="card">
    <img class="w-100" src="{{ post.featured_image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ post.title }}</h5>
      <p class="card-text">{{post.snippet}}</p>
    </div>
    <div class="card-footer">
      <a href="{% url 'post-detail' post.pk %}" class="post-link" > Read The Post Here</a>
    </div>
  </div>
</div>
<br>
    {% endfor %}
<br>
<!-- End of Boostrap Card -->
{% endblock %}
