{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Recipes {% endblock %}
<!-- Boostrap Cards -->
{% block content %}
<br>
<div class="container">
  <div class="row">
    <!-- Recipies on site list -->
         {% for post in post_list %}
    <br/>
     <div class="card mb-3" style="max-width: 100%; border-color: white;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ post.featured_image.url }}" class="card-img w-70" style="text-decoration: none;" alt="Articles Featured Image">
        </div>
        <div class="col-md-8">
          <div class="card-body bg-white">
            <br/><br/>
            <a href="{% url 'post-detail' post.pk %}" class="post-link" style="text-decoration: none; color: black;">
            <h1 class="card-title"><strong>{{ post.title }}</strong></h1>
            <p class="card-text text-black">{{post.snippet}}</p></a>
            <p class="card-text text-black"><small><strong>{{ post.author.first_name }}</strong> | {{ post.post_date}}</small></p>
          </div>
        </div>
      </div>
    </div>
    <!-- End of List -->
    <hr>
    {% endfor %}
  </div>
</div>
<!-- End of Boostrap Card -->
{% endblock %}
