{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <br>
        <h1> {{ post.title }} </h1>
        {% if user.is_superuser %}
        {% if user.id == post.author.id %}
            <a class="btn btn-warning" href="{% url 'update-post' post.pk %}" aria-label="edit"> Edit </a>
            <a class="btn btn-danger" href="{% url 'delete-post' post.pk %}" aria-label="delete"> Delete </a>
        {% endif %}
        {% endif %}
        <br/>
            <small> By: {{ post.autor.first_name }} - {{ post.post_date }}</small>
        <br/><br/>
<!-- News Posts' Body -->
        <div class="post-body">
            {{ post.body | safe }}
        </div>
        <div class="button">
            <a class="btn btn-dark" href="{% url 'home'%}" arial-label="Home Page Link"> Back </a>
            <br/><br/>
        </div>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <!-- Post Featured Image -->
        <img src="{{ post.featured_image.url }}" class="d-block w-100 h-60" alt="Article Featured Image">
      </div>
    </div>
</div>
<!-- Comments section --->
<div class="container text-center">
  <div class="row">
      <br/><br/>
        <div class ="container" >
            <div class="row">
            <h2> Comments...</h2>
            <br/><br/>
            {% if not post.comments.all %}
                There are no comments yet. <a href="{% url 'add-comment' post.pk %}" aria-label="add comment link">Add One</a>
            {% else %}
            <a href="{% url 'add-comment' post.pk %}" aria-label="add comment link">Add Comment</a>
            <br/>
                {% for comment in post.comments.all %}
            <br/>
                <strong>
                {{ comment.name }} | {{ comment.date_added }}
                </strong>
                <div class="comment-body">
                    {{ comment.body }}
                </div>
                    <br><br/>
                {% endfor %}
            {% endif %}
            <br/><br/>
            </div>
        </div>
    </div>
</div>
{% endblock %}