{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <br>
        <h1> {{ post.title }} </h1>
        <!-- If user is super user they can update or delete posts -->
        {% if user.is_superuser %}
        {% if user.id == post.author.id %}
            <a class="btn btn-warning" href="{% url 'update-post' post.pk %}" aria-label="edit"> Edit </a>
            <a class="btn btn-danger" href="{% url 'delete-post' post.pk %}" aria-label="delete"> Delete </a>
        {% endif %}
        {% endif %}
        <br/>
            <small> By: <strong>{{ post.author.first_name }}</strong> - {{ post.post_date }}</small>
        <br/><br/>
<!-- News Posts' Body -->
        <div class="post-body">
            {{ post.body | safe }}
        </div>
        <div class="button">
            <a class="btn btn-dark" href="{% url 'news-list' %}" arial-label="Home Page Link"> Back </a>
            <br/><br/>
        </div>
      </div>
      <div class="col">
        <br>
        <br>
        <br>
        <!-- Post Featured Image -->
        <img src="{{ post.featured_image.url }}" class="d-block w-100 h-60" alt="Article Featured Image">
      </div>
    </div>
</div>
{% endblock %}