{% extends 'base.html' %}
{% load static %}
{% block title %} Deegagh Sea Salt | Update Post {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
<!-- Start of Update post form -->
        <div class="form-group">
            <form id="edit-post" method="POST">
                <br/><br/>
                <h1> Update This Blog Post </h1>
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-dark" href="{% url 'home' %}" aria-label="home"> Post Edit </button>
            </form>
        </div>
<!-- End of form -->
        {% else %}
        <!-- If user is not a superuser they can't edit the post -->
            <p> You are not allowed to edit this post. </p>
        {% endif %}
        {% else %}
            <p> You are not allowed to edit this post. </p>
        {% endif %}
    </div>
</div>
<br>
{% endblock %}